{% extends 'chat/base.html' %}

{% block title %}Lista de Ingresos{% endblock %}

{% block page_title %}Lista de Ingresos{% endblock %}

{% block content %}
<div class="container mt-4">
    
    <h1>Ingresos</h1>
    <a href="{% url 'lista_oportunidades' %}" class="btn btn-primary mb-3">Oportunidades</a>
    <a href="{% url 'lista_cotizaciones' %}" class="btn btn-primary mb-3">Cotizaciones</a>
    <a href="{% url 'lista_facturas' %}" class="btn btn-primary mb-3">Facturas</a>
    <a href="{% url 'lista_ingresos' %}" class="btn btn-primary mb-3">Ingresos</a>
    
        <table class="table table-striped table-hover table-bordered table-custom">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Cliente</th>
                    <th>Factura</th>
                    <th>Fecha de Pago</th>
                    <th>Monto</th>
                    <th>Origen</th>
                </tr>
            </thead>
            <tbody>
                {% for ingreso in ingresos %}
                    <tr>
                        <td>{{ ingreso.factura.cliente.dni }}</td>
                        <td>{{ ingreso.factura.cliente.nombre }}</td>
                        <td>{{ ingreso.factura.id }}</td>
                        <td>{{ ingreso.fecha_pago }}</td>
                        <td>S/. {{ ingreso.monto }}</td>
                        <td>{{ ingreso.origen }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}